@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fontsource/ibm-plex-sans/index.css';

$accent: #ec3783;
$primary: #5745de;

$bg-darwinia: linear-gradient(-45deg, #fe3876 0%, #7c30dd 71%, #3a30dd 100%);

$radius-base: 10px;

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

@mixin main-border {
  border: 2px solid transparent;
  border-radius: $radius-base;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(to right, $primary, $accent) border-box;
}

.dream-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 10px;
  cursor: pointer;
  @include main-border();
}

.dream-btn:hover,
.dream-btn:focus {
  color: $primary;
  box-shadow: 0 0 2px 0 $primary;
  outline: none;
}

.radio-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10px;
  margin-bottom: 1rem;
  border-radius: $radius-base !important;
  border-width: 1px !important;

  &.ant-radio-button-wrapper-checked {
    @include main-border();
  }

  .ant-radio-button + span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &::before {
    visibility: hidden !important;
  }
}

.large-footer-btn .ant-modal-footer {
  display: flex;
  gap: 1em;
}

.account-tab {
  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-nav-list {
    width: 100%;

    .ant-tabs-tab {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        border-radius: $radius-base 0 0 0 !important;
      }

      &:nth-child(2) {
        border-radius: 0 $radius-base 0 0 !important;
        border-left: none;
        margin-left: 0 !important;
      }
    }
  }

  .ant-tabs-content-holder {
    border: 1px solid #e5e7eb;
    border-top: none;
    padding: 1em;
    border-radius: 0 0 $radius-base $radius-base;
  }
}

.enlarge-hot-area {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
}

.ant-list-item-meta-avatar img {
  width: 100%;
}

.ant-modal-close {
  top: -5px;
}
