@import '~antd/dist/antd.less';

/* Modal reset */

.ant-modal-content {
  border-radius: 0.75rem;
}

.ant-modal-header {
  border-radius: 0.75rem 0.75rem 0 0;
}

.ant-modal-close-x {
  color: #595959;
  font-weight: bold;
}
