@import './theme/vars.less';

/* btn rest */
.ant-btn-primary {
  border: none !important;

  &:hover,
  &:focus {
    background: @dvm-main-bg;
    filter: hue-rotate(45deg);
  }
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
  border-color: transparent;
  filter: hue-rotate(45deg);
}

/* Modal reset */
.ant-modal-content {
  border-radius: 0.75rem;
}

.ant-modal-header {
  border-radius: 0.75rem 0.75rem 0 0;
}

.ant-modal-close-x {
  color: #595959;
  font-weight: bold;
}

/* checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: transparent;
  background: @dvm-main-bg;
}

/* alert */
.ant-alert {
  min-width: 200px;
  border-radius: @dvm-radius-base;
}

/* tag */
.ant-tag {
  border-radius: 6px;
}
